

.candidates-item
    background-color: white
    margin-bottom: 2rem
    box-shadow: 0px 2px 5px rgba(104, 129, 159, 0.34)
    &__header
        display: flex
        justify-content: space-between
        padding: 2rem
        cursor: pointer
        .title 
            font: 400 20px $main-font
            color: #68819F
        .icon
            font-size: 15px
            color: $main-color
            transition: 0.4s ease
    &__body
        max-height: 0
        overflow: hidden
        transition: 0.4s ease

                      

.candidates-item--active
    .candidates-item__header
        .title
            color: $main-color
        .icon
            transform: rotate(90deg)


.candidate.header
    background-color: white!important
.candidate
    display: flex
    flex-direction: row
    min-width: 500px
    border: 1px solid #F2F2F2
    transition: 0.4s ease
    &:hover
        background-color: #F0F3F6
    .elem
        display: flex
        align-items: center
        font: 400 15px $main-font
        color: #68819F
        padding: 2rem
        width: 35%
        height: 6.4rem
    .img-name
        img
            width: 27px
            height: 27px
            border-radius: 1px 
            margin-right: 1rem
        span 
            font: 400 15px $main-font
            color: $content-black 
    .rating
        width: 20%
    .icon
        position: relative
        width: 10%
        justify-content: flex-end 
        button
            cursor: pointer
            background: transparent
            border: 0
            outline: 0           
            img 
                transform: rotate(90deg)
            &:focus + .option-types
                display: flex          
        .option-types
            width: 16.2rem
            display: none
            flex-direction: column
            position: absolute
            top: 25px
            background-color: white
            box-shadow: 0px 2px 4px rgba(104, 129, 159, 0.3)
            border: 1px solid #E9EFF4
            border-radius: 3px  
            z-index: 2        
            .option-link
                font: 400 14px $main-font
                color: #68819F
                padding: 2rem
        
