footer.footer
    .my-footer.d-flex
        .my-footer__logo
            img(src="img/gsplogo-green.svg").w-100.h-100
        ul.my-footer__ul
            li
                a(href="").my-footer__nav-link.text-nowrap Haqqımızda
            li
                a(href="").my-footer__nav-link.text-nowrap Xidmətlər
            li
                a(href="").my-footer__nav-link.text-nowrap Həllər
            li
                a(href="").my-footer__nav-link.text-nowrap Layihələrimiz
        .my-footer__contact
            a(href="").my-footer__nav-link.text-nowrap Əlaqə            
            .my-footer__contact__info.mb-4
                .d-flex.contact__info__row
                    .call-office-number.d-flex.mr-5.mb-3
                        img(src="img/footer-office-phone.svg").call-office-number__icon.mr-3
                        .call-office-number__numbers
                            a(href="tel:+994 12 310 00 66").contact-text +994 12 310 00 66
                            br
                            a(href="tel:+994 12 310 00 77").contact-text +994 12 310 00 77
                    .d-flex
                        img(src="img/footer-mail.svg").contact-mail-icon.mr-3
                        a(href="mailto:info@gsp.az").contact-text info@gsp.az
                .d-flex.contact__info__row
                    .d-flex.mr-5
                        img(src="img/footer-smartphone.svg").call-mobile-number-icon.mr-3
                        a(href="tel:+994 77 410-00-66").contact-text +994 77 410-00-66
                    .d-flex
                        img(src="img/footer-whatsapp.svg").whatsapp-number-icon.mr-3
                        a(href=" https://wa.me/+994 77 410 00 66" target="_blank").contact-text +994 77 410 00 66
            p.contact-text.word-break-all
                    | AC. Məmmədquluzadə Küç., Ev85, Məhəllə 254
        .my-footer__work-time
            h2.my-footer__nav-link İş saatları
            p.contact-text.mb-5 Bazar Ertəsi - Cümə: 9:00 – 18:00
            br
            p.p-0.contact-text Şənbə: 11:00 – 17:00
    .copyright
        silent.copright-text © "GSP" Company - All rights reserved