nav.my-navbar.w-100
    .nav-logo
        img(src="")
    .search
        form(action="")
            i.fa.fa-search.search-icon
            input.search-input(type="text", placeholder="Axtar...")
    .account
        .account-exts
            a.mx-4.account-ext(href="#")
                img(src="./img/icons/chat/white.svg")
            a.mx-4.account-ext(href="#")
                img(src="./img/icons/apps.svg")
            a.mx-4.account-ext(href="#")
                img(src="./img/icons/notification.svg")
        a.ml-4.account-info(href="#")
            .account-img
                img(src="./img/account-img.jpg")
            span NAme
            .show-exts.ml-3
                i.fa.fa-sort-down

    //- a(href='index.html').logo-link.bg-warning                 
    //-     img(src="")
    //- .nv-collapse
    //-     ul.nv-list.h-100
    //-         li.nv-item.h-100.px-3
    //-             a.nv-link.d-flex.align-items-center(href='#')
    //-                 span.text-nowrap ABOUT US
    //-         li.nv-item.h-100.px-3
    //-             a.nv-link.d-flex.align-items-center(href='#')
    //-                 span.text-nowrap PORTFOLIO
    //-         li.nv-item.h-100.px-3
    //-             a.nv-link.d-flex.align-items-center(href='#')
    //-                 span.text-nowrap CAREERS
    //-         li.nv-item.h-100.px-3
    //-             a.nv-link.d-flex.align-items-center(href='#')
    //-                 span.text-nowrap CONTACT
    //-         li.nv-item.h-100.px-3
    //-             a.nv-link.d-flex.align-items-center(href='#')
    //-                 span.text-nowrap FAQ
    //-     .search
    //-         label.search-btn.position-relative.pl-3(for='search-input')
    //-             i.fa.fa-search.search-icon
    //-         form.search-form
    //-             i.fa.fa-search.search-icon-passiv
    //-             input#search-input.search-input(type='text', name='search-input', placeholder='Axtarış edin')
    //-             .times-icon 
    //-                 | &times;
    //- .hamburger
    //-     div
    //-     div
    //-     div