nav.my-navbar.w-100
    .nav-logo
        img(src="")
    .search
        form(action="")
            i.fa.fa-search.search-icon
            input.search-input(type="text", placeholder="Axtar...")
    .account
        .account-exts
            a.mx-4.account-ext(href="#")
                img(src="./img/icons/chat/white.svg")
            a.mx-4.account-ext(href="#")
                img(src="./img/icons/apps.svg")
            a.mx-4.account-ext(href="#")
                img(src="./img/icons/notification.svg")
        a.ml-4.account-info(href="#")
            .account-img
                img(src="./img/account-img.jpg")
            a(href="myAccount.html") NAme
            .show-exts.ml-3
                i.fa.fa-sort-down

    