extends ../template_includes/head

block unique-content
    include ../template_includes/navbar
    main.main.d-flex
        include ../template_includes/left
        .content
            .breadCrumb.my-5
                a.breadCrumb-link(href="#") Dashboard
                img.mx-3(src="./img/icons/next/w.svg")
                a.breadCrumb-link.breadCrumb-link--passive Üzvlər   
            .members-wrapper
                .members-item
                    .members-item__header
                        .title Təsdiq gözləyənlər
                        i.fa.fa-chevron-right.icon
                    .members-item__body 
                        table.table.table-responsive
                            tr 
                                td.table-title AD, SOYAD
                                td.table-title VƏZİFƏ
                                td
                            tr.candidate
                                td.img-name
                                    img(src="./img/account-img.jpg")
                                    span Bertie Armstrong
                                td.duty Developer
                                td.options
                                    button
                                        img(src="./img/icons/select-menu/darkblue.svg")
                                    .option-types
                                        a.option-link(href="#") Üzvlərə əlavə et
                                        a.option-link(href="#") CV-ni görüntülə
                                        a.option-link(href="#") Gələnlərə qaytar
                                        a.option-link(href="#") Sil
                            tr.candidate
                                td.img-name
                                    img(src="./img/account-img.jpg")
                                    span Bertie Armstrong
                                td.duty Developer
                                td.options 
                                    button
                                        img(src="./img/icons/select-menu/darkblue.svg")
                                    .option-types
                                        a.option-link(href="#") Üzvlərə əlavə et
                                        a.option-link(href="#") CV-ni görüntülə
                                        a.option-link(href="#") Gələnlərə qaytar
                                        a.option-link(href="#") Sil
                            tr.candidate
                                td.img-name
                                    img(src="./img/account-img.jpg")
                                    span Bertie Armstrong
                                td.duty Developer
                                td.options 
                                    button
                                        img(src="./img/icons/select-menu/darkblue.svg")
                                    .option-types
                                        a.option-link(href="#") Üzvlərə əlavə et
                                        a.option-link(href="#") CV-ni görüntülə
                                        a.option-link(href="#") Gələnlərə qaytar
                                        a.option-link(href="#") Sil

                .members-item
                    .members-item__header
                        .title Gələn CV-lər
                        i.fa.fa-chevron-right.icon
                    .members-item__body 
                        table.table.table-responsive
                            tr 
                                td.table-title AD, SOYAD
                                td.table-title VƏZİFƏ
                                td
                            tr.candidate
                                td.img-name
                                    img(src="./img/account-img.jpg")
                                    span Bertie Armstrong
                                td.duty Developer
                                td.options
                                    button
                                        img(src="./img/icons/select-menu/darkblue.svg")
                                    .option-types
                                        a.option-link(href="#") Üzvlərə əlavə et
                                        a.option-link(href="#") CV-ni görüntülə
                                        a.option-link(href="#") Gələnlərə qaytar
                                        a.option-link(href="#") Sil
                            tr.candidate
                                td.img-name
                                    img(src="./img/account-img.jpg")
                                    span Bertie Armstrong
                                td.duty Developer
                                td.options 
                                    button
                                        img(src="./img/icons/select-menu/darkblue.svg")
                                    .option-types
                                        a.option-link(href="#") Üzvlərə əlavə et
                                        a.option-link(href="#") CV-ni görüntülə
                                        a.option-link(href="#") Gələnlərə qaytar
                                        a.option-link(href="#") Sil
                            tr.candidate
                                td.img-name
                                    img(src="./img/account-img.jpg")
                                    span Bertie Armstrong
                                td.duty Developer
                                td.options 
                                    button
                                        img(src="./img/icons/select-menu/darkblue.svg")
                                    .option-types
                                        a.option-link(href="#") Üzvlərə əlavə et
                                        a.option-link(href="#") CV-ni görüntülə
                                        a.option-link(href="#") Gələnlərə qaytar
                                        a.option-link(href="#") Sil