extends ../template_includes/head

block unique-content
    include ../template_includes/navbar
    main.main.d-flex
        include ../template_includes/left
        .content
            .breadCrumb.my-5
                a.breadCrumb-link(href="#") Dashboard
                img.mx-3(src="./img/icons/next/w.svg")
                a.breadCrumb-link(href="#") Layihələr
                img.mx-3(src="./img/icons/next/w.svg")
                a.breadCrumb-link.breadCrumb-link--passive CO Project
            .work-areas
                .row
                    .col-md-4.mb-5                  
                        ul.work-area           
                            li.work-area-header.mb-5
                                .work-area-header__title Back-end 
                                a(href="newTask.html").work-area-header__plus &#43;            
                            li.job.mb-4.p-4
                                .job__title.mb-4 Job title
                                .job__text.mb-4 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    | when an unknown printer took a galley of type and scrambled it to make a type specimen 
                                .job__footer
                                    .footer-left
                                        .left-div.left-div--blue AM
                                        .left-div.left-div--yellow ES
                                    .info
                                        span 10 attachements
                            li.job.mb-4.p-4
                                .job__title.mb-4 Job title
                                .job__text.mb-4 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    | when an unknown printer took a galley of type and scrambled it to make a type specimen 
                                .job__footer
                                    .footer-left
                                        .left-div.left-div--blue AM
                                        .left-div.left-div--yellow ES
                                    .info
                                        span 10 attachements
                    .col-md-4.mb-5
                        ul.work-area           
                            li.work-area-header.mb-5
                                .work-area-header__title Front-end
                                .work-area-header__plus &#43;            
                            li.job.mb-4.p-4
                                .job__title.mb-4 Job title
                                .job__text.mb-4 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    | when an unknown printer took a galley of type and scrambled it to make a type specimen 
                                .job__footer
                                    .footer-left
                                        .left-div.left-div--blue AM
                                        .left-div.left-div--yellow ES
                                    .info
                                        span 10 attachements
                            li.job.mb-4.p-4
                                .job__title.mb-4 Job title
                                .job__text.mb-4 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    | when an unknown printer took a galley of type and scrambled it to make a type specimen 
                                .job__footer
                                    .footer-left
                                        .left-div.left-div--blue AM
                                        .left-div.left-div--yellow ES
                                    .info
                                        span 10 attachements
                            li.job.mb-4.p-4
                                .job__title.mb-4 Job title
                                .job__text.mb-4 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    | when an unknown printer took a galley of type and scrambled it to make a type specimen 
                                .job__footer
                                    .footer-left
                                        .left-div.left-div--blue AM
                                        .left-div.left-div--yellow ES
                                    .info
                                        span 10 attachements
                    .col-md-4.mb-5
                        ul.work-area.work-area--design           
                            li.work-area-header.mb-5
                                .work-area-header__title Design
                                .work-area-header__plus &#43;            
                            li.job.mb-4.p-4
                                .job__title.mb-4 Job title
                                .job__text.mb-4 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    | when an unknown printer took a galley of type and scrambled it to make a type specimen 
                                .job__footer
                                    .footer-left
                                        .left-div.left-div--blue AM
                                        .left-div.left-div--yellow ES
                                    .info
                                        span 10 attachements
                            li.job.mb-4.p-4
                                .job__title.mb-4 Job title
                                .job__text.mb-4 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    | when an unknown printer took a galley of type and scrambled it to make a type specimen 
                                .job__footer
                                    .footer-left
                                        .left-div.left-div--blue AM
                                        .left-div.left-div--yellow ES
                                    .info
                                        span 10 attachements
                            li.job.mb-4.p-4
                                .job__title.mb-4 Job title
                                .job__text.mb-4 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    | when an unknown printer took a galley of type and scrambled it to make a type specimen 
                                .job__footer
                                    .footer-left
                                        .left-div.left-div--blue AM
                                        .left-div.left-div--yellow ES
                                    .info
                                        span 10 attachements

